
<main class="main">
  <div class="content">
    <div class="left-side">
      <img src="assets/renting-colombia-logo.jpg" alt="Renting Colombia Logo" class="logo">
      <h1>{{ title }}</h1>
      
    </div>
  </div>
  <button (click)="loadUsers()" >Cargar usuarios</button>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nombre de usuario</th>
          <th>Telefono</th>
          <th>Website</th>
          <th>Nombre de la compania</th>
          <th>Correo</th>
        </tr>
      </thead>
      
  <ng-container *ngIf="users">
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td> {{ user.username }}</td>
        <td> {{ user.phone }}</td>
        <td> {{ user.website }}</td>
        <td> {{ user.company.name }}</td>
        <td> {{ user.email }}</td>
      </tr>
    </tbody>
  </ng-container>
</table>

</main>
<router-outlet />
